<a href="https://colab.research.google.com/github/komh9575/first-repository/blob/main/%EA%B2%B0%EC%B8%A1%EC%B9%98%20%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [169]:
import pandas as pd
import numpy as np

In [170]:
cars = pd.read_csv(r"/content/sample_data/cars.csv")

In [171]:
brand= pd.read_csv(r"/content/sample_data/brand.csv")

In [172]:
print(cars.head())

            title  Price  Mileage(miles)  Registration_Year  Previous Owners  \
0     SKODA FABIA   6900           70189               2016              3.0
1  VAUXHALL CORSA   1495           88585               2008              4.0
2     HYUNDAI I30    949          137000               2011              NaN
3      MINI HATCH   2395           96731               2010              5.0
4  VAUXHALL CORSA   1000           85000               2013              NaN

  Fuel type  Body type Engine Gearbox  Doors  Seats Emission Class  \
0    Diesel  Hatchback   1.4L  Manual    5.0    5.0         Euro 6
1    Petrol  Hatchback   1.2L  Manual    3.0    5.0         Euro 4
2    Petrol  Hatchback   1.4L  Manual    5.0    5.0         Euro 5
3    Petrol  Hatchback   1.4L  Manual    3.0    4.0         Euro 4
4    Diesel  Hatchback   1.3L  Manual    5.0    5.0         Euro 5

  Service history
0             NaN
1            Full
2             NaN
3            Full
4             NaN

In [173]:
print(brand.head())

      title         country
0     skoda  Czech Republic
1  vauxhall  United Kingdom
2   hyundai     South Korea
3      mini  United Kingdom
4      ford   United States

In [174]:
cars["brand_name"] = cars["title"].str.split().str[0]
merged = pd.merge(cars, brand, how="left", left_on="brand_name", right_on="title")

In [175]:
print(merged)

             title_x  Price  Mileage(miles)  Registration_Year  \
0        SKODA FABIA   6900           70189               2016
1     VAUXHALL CORSA   1495           88585               2008
2        HYUNDAI I30    949          137000               2011
3         MINI HATCH   2395           96731               2010
4     VAUXHALL CORSA   1000           85000               2013
...              ...    ...             ...                ...
3682  RENAULT MEGANE   1395           76202               2006
3683         AUDI A4   6990          119000               2012
3684    BMW 3 SERIES   3995          139000               2013
3685    HONDA ACCORD   1390          179190               2007
3686  VAUXHALL CORSA   2000           82160               2013

      Previous Owners Fuel type  Body type Engine Gearbox  Doors  Seats  \
0                 3.0    Diesel  Hatchback   1.4L  Manual    5.0    5.0
1                 4.0    Petrol  Hatchback   1.2L  Manual    3.0    5.0
2                 NaN    Petrol  Hatchback   1.4L  Manual    5.0    5.0
3                 5.0    Petrol  Hatchback   1.4L  Manual    3.0    4.0
4                 NaN    Diesel  Hatchback   1.3L  Manual    5.0    5.0
...               ...       ...        ...    ...     ...    ...    ...
3682              4.0    Petrol  Hatchback   1.6L  Manual    5.0    5.0
3683              NaN    Petrol     Saloon   2.0L  Manual    4.0    5.0
3684              NaN    Diesel     Saloon   2.0L  Manual    4.0    5.0
3685              NaN    Diesel     Estate   2.2L  Manual    5.0    5.0
3686              7.0    Petrol  Hatchback   1.2L  Manual    5.0    5.0

     Emission Class Service history brand_name title_y country
0            Euro 6             NaN      SKODA     NaN     NaN
1            Euro 4            Full   VAUXHALL     NaN     NaN
2            Euro 5             NaN    HYUNDAI     NaN     NaN
3            Euro 4            Full       MINI     NaN     NaN
4            Euro 5             NaN   VAUXHALL     NaN     NaN
...             ...             ...        ...     ...     ...
3682         Euro 4             NaN    RENAULT     NaN     NaN
3683         Euro 5             NaN       AUDI     NaN     NaN
3684         Euro 5             NaN        BMW     NaN     NaN
3685         Euro 4            Full      HONDA     NaN     NaN
3686         Euro 5             NaN   VAUXHALL     NaN     NaN

[3687 rows x 16 columns]

In [176]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3687 entries, 0 to 3686
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   object
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
 13  brand_name         3687 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 403.4+ KB

In [177]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
cars["cars_title" ] = le.fit_transform(cars["title"])

le=LabelEncoder()
cars["cars_Fuel type" ] = le.fit_transform(cars["Fuel type"])

le=LabelEncoder()
cars["cars_Body type" ] = le.fit_transform(cars["Body type"])

le=LabelEncoder()
cars["cars_Engine" ] = le.fit_transform(cars["Engine"])

le=LabelEncoder()
cars["cars_Gearbox" ] = le.fit_transform(cars["Gearbox"])

le=LabelEncoder()
cars["cars_Emission Class" ] = le.fit_transform(cars["Emission Class"])

le=LabelEncoder()
cars["cars_Service history" ] = le.fit_transform(cars["Service history"])

le=LabelEncoder()
cars["cars_brand_name" ] = le.fit_transform(cars["brand_name"])

In [178]:
cars = pd.get_dummies(cars, columns=["cars_title", "cars_Fuel type", "cars_Body type", "cars_Engine", "cars_Gearbox", "cars_Emission Class", "cars_Service history", "cars_brand_name"], drop_first=True)

In [179]:
cars.head(5)

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,...,cars_brand_name_38,cars_brand_name_39,cars_brand_name_40,cars_brand_name_41,cars_brand_name_42,cars_brand_name_43,cars_brand_name_44,cars_brand_name_45,cars_brand_name_46,cars_brand_name_47
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,...,False,True,False,False,False,False,False,False,False,False
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,...,False,False,False,False,False,False,False,True,False,False
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,...,False,False,False,False,False,False,False,False,False,False
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,...,False,False,False,False,False,False,False,False,False,False
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,...,False,False,False,False,False,False,False,True,False,False

In [180]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3687 entries, 0 to 3686
Columns: 571 entries, title to cars_brand_name_47
dtypes: bool(557), float64(3), int64(3), object(8)
memory usage: 2.4+ MB

In [181]:
cars.isnull().sum()

title                    0
Price                    0
Mileage(miles)           0
Registration_Year        0
Previous Owners       1411
                      ...
cars_brand_name_43       0
cars_brand_name_44       0
cars_brand_name_45       0
cars_brand_name_46       0
cars_brand_name_47       0
Length: 571, dtype: int64

In [192]:
cars["Service history"] = cars["Service history"].fillna("Unknown")

In [193]:
cars = cars.dropna()

In [194]:
cars.isnull().sum()

title                 0
Price                 0
Mileage(miles)        0
Registration_Year     0
Previous Owners       0
                     ..
cars_brand_name_43    0
cars_brand_name_44    0
cars_brand_name_45    0
cars_brand_name_46    0
cars_brand_name_47    0
Length: 571, dtype: int64